body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dark-mode {
	background: black;
}

.dark-mode h1 {
	color: #fff;
}

.container {
	max-width: 960px;
	min-height: 100vh;
	margin: 0px auto;
	padding: 0px 15px;
}

.notes-list {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note {
	background-color: #fef68a;
	/* margin-bottom: 10px; */
	border-radius: 10px;
	padding: 1rem;
	min-height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
}

.note.new {
	background-color: #67d7cc;
}

textarea {
	border: none;
	resize: none;
	background-color: #67d7cc;
}

textarea:focus {
	outline: none;
}

.save {
	background-color: #e1e1e1;
	border: none;
	border-radius: 15px;
	padding: 5px 10px;
}

.save:hover {
	background-color: #ededed;
	cursor: pointer;
}

.note-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.search {
	display: flex;
	align-items: center;
	background: rgb(233,233,233);
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 1.5em;
}

.search input {
	border: none;
	background: rgb(233, 233, 233);
}

.search input:focus {
	outline: none;
}